.SuspectList {

  position: relative;

  .progressIndicator {
    position: absolute;
    top: 0;
  }

  .SuspectTile {
    cursor: pointer;
    margin-bottom: 10px;
    
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      border-color: darkred;
    }
  }
}
