/*.sublime*
/app.js
/build/
/client/copper.css
/client/copper.js
/client/dup/dup.css
/client/dup/dup.js
/client/duplang/duplang.css
/client/duplang/duplang.js
/client/karma/karma.css
/client/karma/karma.js
/client/timeline/timeline.css
/client/timeline/timeline.js
/.gitignore
/known_hosts
/node_modules/
/npm-debug.log
/.vagrant
/test/unittests.js
