.DupPage {
  background: #173145;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.DupPage .header {
  color: white;
  padding: 2em;
}
.DupPage .header .logo {
  float: left;
  margin-right: 1em;
}
.DupPage .header .DupPage_title {
  margin: 0;
}
.DupPage .header::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.DupPage h1,
.DupPage h2,
.DupPage h3 {
  font-family: "Georgia", serif;
}
.DupPage h1 {
  font-size: 32px;
}
.DupPage h2,
.DupPage h3 {
  color: #264363;
}
.DupPage .titleElements,
.DupPage .DupPage_content {
  margin: 0 auto;
  max-width: 960px;
}
.DupPage .contentContainer {
  background: #E8E6DA;
}
.DupPage .DupPage_content {
  background: white;
  padding: 2em;
}
.DupPage .DupPage_content > *:first-child {
  margin-top: 0;
}
.DupPage .DupPage_content > *:last-child {
  margin-bottom: 0;
}

.GoogleMap {
  position: relative;
}
.GoogleMap .map {
  position: relative;
}
.GoogleMap .canvas {
  height: 100%;
  width: 100%;
}

.SatellitePage {
  background: black;
  margin: 0;
  padding: 0.5in;
}
.SatellitePage .photo {
  visibility: hidden;
}

.SatellitePhoto {
  box-sizing: border-box;
  border: 20px solid white;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.SatellitePhoto .caption {
  padding: 0.5em;
  position: absolute;
  text-shadow: 0px 0px 5px black;
  top: 0;
}
.SatellitePhoto .crosshairs {
  position: absolute;
}
.SatellitePhoto .crosshairs1 {
  top: 100px;
  left: 100px;
}
.SatellitePhoto .crosshairs2 {
  top: 100px;
  right: 100px;
}
.SatellitePhoto .crosshairs3 {
  bottom: 100px;
  left: 100px;
}
.SatellitePhoto .crosshairs4 {
  bottom: 100px;
  right: 100px;
}
.SatellitePhoto .map {
  height: 600px;
  width: 800px;
  /* Make map grayscale */

}
.SatellitePhoto .map img {
  filter: grayscale(100%);
  /* Current draft standard */

  -webkit-filter: grayscale(100%);
  /* New WebKit */

  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: gray;
  /* IE */

}

.SuspectList {
  position: relative;
}
.SuspectList .progressIndicator {
  position: absolute;
  top: 0;
}
.SuspectList .SuspectTile {
  display: inline-block;
}
.SuspectList .SuspectTile:not(:last-child) {
  margin-right: 10px;
}

.SuspectTile {
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: "Courier New", monospace;
  font-weight: bold;
  padding: 20px;
}
.SuspectTile .container {
  color: white;
  position: relative;
  text-shadow: 0px 0px 5px black;
}
.SuspectTile .identifier {
  margin: 0.5em;
  position: absolute;
  top: 0;
}
.SuspectTile .timestamp {
  bottom: 0;
  margin: 0.5em;
  position: absolute;
}
.SuspectTile img {
  /* Make image grayscale */

  filter: grayscale(100%);
  /* Current draft standard */

  -webkit-filter: grayscale(100%);
  /* New WebKit */

  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: gray;
  /* IE */

}
.SuspectTile:hover {
  border-color: red;
}

.TextBoxWithButton2 .TextBoxWithButton_textBox {
  margin-right: 0.5em;
}

.AccountPage .address .TextBox {
  /* Shouldn't really hack into TextBoxWithButton */

  width: 500px;
}
