.DupPage {
  background: #173145;
  margin: 0;
  padding: 0;
}
.DupPage,
.DupPage input,
.DupPage textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.DupPage .header {
  color: white;
  padding: 2em;
}
.DupPage .header .logo {
  float: left;
  margin-right: 1em;
}
.DupPage .header .DupPage_title {
  margin: 0;
}
.DupPage .header::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.DupPage h1,
.DupPage h2,
.DupPage h3 {
  font-family: "Georgia", serif;
}
.DupPage h1 {
  font-size: 32px;
}
.DupPage h2,
.DupPage h3 {
  color: #264363;
}
.DupPage .titleElements,
.DupPage .DupPage_content {
  margin: 0 auto;
  max-width: 960px;
}
.DupPage .contentContainer {
  background: #E8E6DA;
}
.DupPage .DupPage_content {
  background: white;
  padding: 2em;
}
.DupPage .DupPage_content > *:first-child {
  margin-top: 0;
}
.DupPage .DupPage_content > *:last-child {
  margin-bottom: 0;
}

.FieldWithNotice > * {
  display: inline-block;
}
.FieldWithNotice .FieldWithNotice_notice {
  margin: 0;
}
.FieldWithNotice.generic .FieldWithNotice_notice {
  margin-left: 1em;
}

.Notice {
  color: red;
}

.RegisterPage .label {
  margin-top: 1em;
}
.RegisterPage textarea {
  resize: none;
}
.RegisterPage .name,
.RegisterPage .dateContainer,
.RegisterPage .address,
.RegisterPage .email {
  width: 250px;
}

.SuspectList {
  position: relative;
}
.SuspectList .progressIndicator {
  position: absolute;
  top: 0;
}
.SuspectList .SuspectTile {
  display: inline-block;
}
.SuspectList .SuspectTile:not(:last-child) {
  margin-right: 10px;
}

.SuspectTile {
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: "Courier New", monospace;
  font-weight: bold;
  padding: 20px;
}
.SuspectTile .container {
  color: white;
  position: relative;
  text-shadow: 0px 0px 5px black;
}
.SuspectTile .identifier {
  margin: 0.5em;
  position: absolute;
  top: 0;
}
.SuspectTile .timestamp {
  bottom: 0;
  margin: 0.5em;
  position: absolute;
}
.SuspectTile img {
  /* Make image grayscale */

  filter: grayscale(100%);
  /* Current draft standard */

  -webkit-filter: grayscale(100%);
  /* New WebKit */

  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: gray;
  /* IE */

}
.SuspectTile:hover {
  border-color: red;
}

.AccountPage .address .TextBox {
  /* Shouldn't really hack into TextBoxWithButton */

  width: 500px;
}

.GoogleMap {
  position: relative;
}
.GoogleMap .map {
  position: relative;
}
.GoogleMap .canvas {
  height: 100%;
  width: 100%;
}

.TextBoxWithButton2 .TextBoxWithButton_textBox {
  margin-right: 0.5em;
}

.FacebookOverlay {
  background-color: rgba(0, 0, 0, 0.9);
}

.FacebookSlideshow {
  background: white;
  min-width: 900px;
}
.FacebookSlideshow .photoContainer {
  background: black;
}
.FacebookSlideshow .photoContainer .photo {
  display: block;
  margin: 0 auto;
}
.FacebookSlideshow .rightPane {
  width: 340px;
}

.SatellitePage {
  background: black;
  margin: 0;
  padding: 0.5in;
}
.SatellitePage .photo {
  visibility: hidden;
}

.SatellitePhoto {
  box-sizing: border-box;
  border: 20px solid white;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.SatellitePhoto .caption {
  padding: 0.5em;
  position: absolute;
  text-shadow: 0px 0px 5px black;
  top: 0;
}
.SatellitePhoto .crosshairs {
  position: absolute;
}
.SatellitePhoto .crosshairs1 {
  top: 100px;
  left: 100px;
}
.SatellitePhoto .crosshairs2 {
  top: 100px;
  right: 100px;
}
.SatellitePhoto .crosshairs3 {
  bottom: 100px;
  left: 100px;
}
.SatellitePhoto .crosshairs4 {
  bottom: 100px;
  right: 100px;
}
.SatellitePhoto .map {
  height: 600px;
  width: 800px;
  /* Make map grayscale */

}
.SatellitePhoto .map img {
  filter: grayscale(100%);
  /* Current draft standard */

  -webkit-filter: grayscale(100%);
  /* New WebKit */

  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  /* Not yet supported in Gecko, Opera or IE */
  filter: gray;
  /* IE */

}

.FacebookIcon {
  background-image: url("resources/facebookIcons.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
}

.FacebookPage {
  font-size: 11px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #333;
  margin: 0 auto;
  line-height: 1.28;
  max-width: 851px;
}
.FacebookPage a {
  cursor: pointer;
  color: #3B5998;
  text-decoration: none;
}
.FacebookPage a:hover {
  text-decoration: underline;
}
.FacebookPage .clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.Timeline {
  background: url(resources/timelineAxis.png) repeat-y center top;
  margin: 0;
  padding: 15px 0;
  position: relative;
  list-style: none;
}
.Timeline > *:nth-child( odd ) {
  clear: left;
  float: left;
}
.Timeline > *:nth-child( even ) {
  clear: right;
  float: right;
}

.TimelineAboutTile {
  display: block;
  float: left;
  height: 108px;
  margin: 0;
  position: relative;
  width: 328px;
}
.TimelineAboutTile .detail {
  background-color: #F1F3F8;
  border: 1px solid white;
  border-bottom-left-radius: 0;
  border-left: 0;
  -webkit-border-radius: 3px;
  border-top-left-radius: 0;
  height: 74px;
  margin-left: 0;
  overflow: hidden;
  padding-left: 0;
}
.TimelineAboutTile .detail .mat {
  border: 1px solid #E5E7EB;
  border-bottom-left-radius: 0;
  border-left: 0;
  -webkit-border-radius: 2px;
  border-top-left-radius: 0;
  height: 70px;
  margin-left: 0;
  padding: 1px;
  padding-left: 0;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection {
  padding: 3px 0 0 26px;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection .fbProfileBylineFragment {
  line-height: 16px;
  margin-right: 8px;
  overflow: hidden;
  padding-left: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection .FacebookIcon {
  left: 26px;
  margin: 1px 5px 1px 0;
  position: absolute;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection .workIcon {
  background-position: -225px -89px;
  height: 13px;
  width: 9px;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection .collegeIcon {
  background-position: -163px -89px;
  height: 13px;
  width: 11px;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection .cityIcon {
  background-position: -235px -89px;
  width: 8px;
  height: 13px;
}
.TimelineAboutTile .detail .mat .fbTimelineSummarySection .birthdayIcon {
  background-position: -175px -89px;
  height: 13px;
  width: 9px;
}

.TimelinePage {
  background: #e7ebf2;
}
.TimelinePage .fbTimelineSection {
  background: white;
  border: 1px solid #C4CDE0;
  border-bottom-width: 2px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top: none;
}
.TimelinePage .TimelinePage_coverPhoto {
  display: block;
  width: 100%;
}
.TimelinePage .fbTimelineHeadline {
  min-height: 47px;
  position: relative;
  width: 100%;
  z-index: 4;
}
.TimelinePage .fbTimelineHeadline .photoContainer .profilePicThumb {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  display: block;
  left: 23px;
  margin-top: -121px;
  padding: 1px;
  position: absolute;
}
.TimelinePage .fbTimelineHeadline .photoContainer .profilePicThumb .uiScaledImageContainer {
  background-color: white;
  border: 4px solid white;
  -webkit-border-radius: 2px;
  height: 160px;
  width: 160px;
  position: relative;
  overflow: hidden;
}
.TimelinePage .fbTimelineHeadline .photoContainer .profilePicThumb .uiScaledImageContainer .TimelinePage_profilePhoto {
  display: block;
  height: auto;
  width: 100%;
}
.TimelinePage .TimelinePage_name {
  bottom: 50px;
  color: #1C2A47;
  font-size: 20px;
  overflow: hidden;
  margin: 16px 0 0 206px;
}
.TimelinePage .fbTimelineNavigationPagelet {
  min-height: 121px;
}
.TimelinePage .fbTimelineNavigationPagelet .fbTimelineNavigation {
  height: 121px;
  overflow: hidden;
  position: relative;
}
.TimelinePage .fbTimelineNavigationPagelet .fbTimelineNavigation .fbTimelineTopRow {
  margin-top: 12px;
}

.TimelineUnit {
  background: white;
  border: 1px solid #C4CDE0;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  clear: left;
  display: block;
  float: left;
  list-style: none;
  margin-bottom: 15px;
  padding: 13px 15px;
  position: relative;
  width: 411px;
}

.HeroinePage .satelliteSample {
  cursor: pointer;
}

.TimelinePost .byline {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.TimelinePost .byline .profilePhoto {
  float: left;
  height: 32px;
  margin-right: 8px;
  width: 32px;
}
.TimelinePost .byline .authorBlock {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
}
.TimelinePost .byline .authorBlock .TimelinePost_author {
  font-weight: bold;
}
.TimelinePost .byline .authorBlock .TimelinePost_date {
  color: gray;
  line-height: 15px;
}
.TimelinePost .TimelinePost_content > img {
  margin: 1em 0;
  width: 100%;
}
