.GoogleMap {
  position: relative;
}
.GoogleMap .map {
  position: relative;
}
.GoogleMap .canvas {
  height: 100%;
  width: 100%;
}

.TextBoxWithButton2 .SimpleFlexBox_content {
  padding-right: 0.5em;
}
.TextBoxWithButton2 .TextBoxWithButton_textBox {
  box-sizing: border-box;
  width: 100%;
}

.DupEditorPage {
  background: #222;
  overflow: none;
}
.DupEditorPage,
.DupEditorPage button,
.DupEditorPage input,
.DupEditorPage textarea {
  background: transparent;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}
.DupEditorPage .instruction {
  color: #bbb;
}
.DupEditorPage .leftPane {
  height: 100%;
  position: absolute;
  width: 100%;
}
.DupEditorPage .program {
  background: black;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  position: absolute;
  resize: none;
  width: 100%;
}
.DupEditorPage .tabs {
  background: #111;
}
.DupEditorPage .stackTrace {
  background: #333;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  width: 350px;
}
.DupEditorPage .MenuBar.generic {
  background: #222;
}
.DupEditorPage .Menu.generic .PopupSource_content:hover,
.DupEditorPage .Menu.generic.opened .PopupSource_content {
  background: #444;
}
.DupEditorPage .MenuItem.generic:hover {
  background: #888;
}
.DupEditorPage .Popup.generic {
  background: #444;
}

.DupProgram {
  position: relative;
}
.DupProgram .programText {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}
.DupProgram .highlight {
  background: white;
  display: none;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: 1;
}

.DupStackTrace .heading {
  display: table-header-group;
}
.DupStackTrace .heading .columnHeadingStack {
  text-align: right;
}
.DupStackTrace .stepList {
  display: table-row-group;
}

.DupStackTraceStep {
  padding: 0 0.5em;
}
.DupStackTraceStep .before,
.DupStackTraceStep .after {
  color: #888;
}
.DupStackTraceStep .before {
  text-align: right;
}
.DupStackTraceStep .stack {
  color: #ccc;
  text-align: right;
  white-space: nowrap;
}
.DupStackTraceStep .op {
  color: white;
  font-weight: bold;
}

.DupTab {
  background: #222;
  box-sizing: border-box;
  height: 300px;
}

.DupTabButton.selected {
  background: #222;
  padding: 0.5em;
}

.DupHelpPane {
  display: table;
  width: 100%;
}
.DupHelpPane pre {
  display: table-cell;
  margin: 0;
  width: 50%;
}

.DupInputPane .DupInputPane_content {
  border: none;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  resize: none;
  width: 100%;
}
