.SuspectTile {
  
  box-sizing: border-box;
  border: 20px solid white;
  font-family: "Courier New", monospace;
  font-weight: bold;
  position: relative;

  .data {
    bottom: 0;
    color: white;
    margin: 0.5em;
    position: absolute;
  }

  /* Make image grayscale */
  img {
    filter: grayscale( 100% ); /* Current draft standard */
    -webkit-filter: grayscale( 100% ); /* New WebKit */
    -moz-filter: grayscale( 100% );
    -ms-filter: grayscale( 100% ); 
    -o-filter: grayscale( 100% ); /* Not yet supported in Gecko, Opera or IE */ 
    filter: gray; /* IE */
  }

}